body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    margin-bottom: 100px;
}

footer {
    margin-top: auto;
    min-height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 15px;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
footer .info {
    font-size: 18px;
    color: black;
    list-style: none;
    align-self: flex-start;
    background-color: gold;
    padding: 5px;
}
footer .info li {
    margin-bottom: 5px;
}
footer .info a {
    color: black;
}
